<!-- Page Content -->
<div id="content" class="page">
  <div class="parallax">
    <!-- Toolbar -->
    <div id="toolbar" class="primary-color">
      <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
      </div>
      <span class="title">Contact</span>
      <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="animated fadeinup">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15552.120571734786!2d80.251058!3d12.969923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79a026331bf5fbc9!2sNowWiN+Technologies+Private+Limited!5e0!3m2!1sen!2sin!4v1477377209070"  width="100%" height="350px" style="border: none;"></iframe>
    <!-- Form Inputs --> 
    <div class="form-inputs">

      <h4 class="center">Fill the form!</h4>
      <div>
        <div class="input-field animated fadeinright">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field animated fadeinright delay-1">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="input-field animated fadeinright delay-2">
        <input id="email" type="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field animated fadeinright delay-3">
        <input id="telephone" type="text" class="validate">
        <label for="telephone">Telephone</label>
      </div>
      <div class="input-field animated fadeinright delay-4">
        <input id="city" type="text" class="validate">
        <label for="city">City</label>
      </div>

      <div class="input-field animated fadeinright delay-5">
        <textarea class="materialize-textarea" id="textarea1"></textarea> 
        <label for="textarea1">Write your message here</label>
      </div>

      <p class="remember animated bouncein delay-6">
        <input type="checkbox" id="test5" />
        <label for="test5">This is an awesome checkbox</label>
      </p>

      <a class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6" href="index.html">Send</a>
    </div>

  </div> <!-- End of Main Contents -->
</div> <!-- End of Page Content -->
