<!-- Page Content -->
<div id="content">

	<!-- Toolbar -->
       <!--  <div id="toolbar" class="halo-nav box-shad-none">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title none">Shop</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
      </div> -->

      <!-- Hero Header -->
      <div class="h-banner animated fadeindown">
      	<div class="parallax bg-shop"></div>
      	<div class="banner-title">Our Gallery Category</div>
      </div>
  </div>

  <!-- Profile Content -->
  <div class="animated fadeinup delay-1">
  	<!-- <div class="shop-banner animated fadeinup delay-1">
  		<a href="category.html">
  			<img src="img/banner1.jpg" alt="">
  			<div class="border-overlay valign-wrapper">
  				<div class="valign center width-100">
  					<h3 class="white-text">New Arrivals</h3>
  					<p class="white-text">SS 2016</p>
  				</div>
  			</div>
  		</a>
  	</div>
  	<div class="shop-banner animated fadeinup delay-2">
  		<a href="category.html">
  			<img src="img/banner2.jpg" alt="">
  			<div class="border-overlay valign-wrapper">
  				<div class="valign center width-100">
  					<h3 class="white-text">Accessories</h3>
  					<p class="white-text">Watches 2016</p>
  				</div>
  			</div>
  		</a>
  	</div>
  	<div class="shop-banner animated fadeinup delay-3">
  		<a href="category.html">
  			<img src="img/banner3.jpg" alt="">
  			<div class="border-overlay valign-wrapper">
  				<div class="valign center width-100">
  					<h3 class="white-text">Shoes</h3>
  					<p class="white-text">50% Sales</p>
  				</div>
  			</div>
  		</a>
  	</div> -->
  	<div ng-repeat="category in gallery_categories">
  		<div class="shop-banner width-100 animated fadeinup delay-3">
  			<a ng-href="#gallery/category/{{category.gallery_category_id}}">
  			<img ng-src="img/{{category.gallery_category_image}}" alt="gallery category image">
  				<div class="border-overlay valign-wrapper">
  					<div class="valign center width-100">
  						<h3 class="white-text">{{category.gallery_category_name}}</h3>
  						<p class="white-text">{{category.gallery_category_description}}</p>
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>

  	<div class="clr"></div>

  </div> 


</div> <!-- End of Page Content -->

</div> <!-- End of Page Container -->
