<!-- Page Content -->
      <div id="content" class="page grey-blue">
      <div class="parallax">
        
      
        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title">Gallery</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>
        </div>

        <!-- Main Content -->
        <div class="animated fadeinup">

          <div class="grid">
            <!-- <div class="grid-item">
              <a href="img/1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/1.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/v1.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/2.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/2.jpg" alt="image">
              </a>
            </div> -->
            <div ng-repeat="gallery in gallery_arrays">
            <div class="grid-item">
              <a href="img/{{gallery.gallery_image}}" class="swipebox no-smoothState" title="This is a gallery image.">
                <img src="img/{{gallery.gallery_image}}" alt="gallery image">
              </a>
            </div>
           <!--  <div class="grid-item">
              <a href="img/3.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/2.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/3.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/3.jpg" alt="image">
              </a>
            </div> -->
            </div>

           <!--  <div class="grid-item">
              <a href="img/v2.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/v2.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/v3.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/v3.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/4.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/4.jpg" alt="image">
              </a>
            </div>
            <div class="grid-item">
              <a href="img/5.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="img/5.jpg" alt="image">
              </a>
            </div> -->
          </div>
              
        </div>
        <!-- End of Main Contents -->

         
      </div> <!-- End of Page Content -->
