<div class="h-banner animated fadeindown">
  <div class="parallax">
    <!-- Slider -->         
    <div class="swiper-container slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="site_detail in site_details" ng-if="site_detail.setting_variable=='home_slider' && site_detail.setting_value != ''">
        <img src="img/{{site_detail.setting_value}}" alt="Home slider image">
        </div>
        <div class="swiper-slide">
          <img src="img/8.jpg" alt="Home slider image">
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- End of Slider -->
    <div class="banner-title"><span ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='site_name' && site_detail.setting_value != ''">{{site_detail.setting_value}}</span></div>
  </div>
</div>
<!-- Main Content -->

<div class="animated fadeinup">
	<!-- Heading -->
	<div class="heading-container">
		<h2 class="heading">Welcome to <span ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='site_name' && site_detail.setting_value != ''">{{site_detail.setting_value}}.</span></h2>
			<p class="flow-text" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='home_content_introduction' && site_detail.setting_value != ''">{{site_detail.setting_value}}</p>
		</div>

		<!-- Features -->
		<div class="features p-20 grey-blue">
			<div class="center promo">
				<!-- <i class="ion-flash primary-text"></i> -->
				<h6 class="promo-caption" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='second_home_component_heading' && site_detail.setting_value != ''">{{site_detail.setting_value}}</h6>
				<p class="light center" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='second_home_component_content' && site_detail.setting_value != ''">{{site_detail.setting_value}}.</p>
			</div>

			<div class="center promo">
				<!-- <i class="ion-flash primary-text"></i> -->
				<h6 class="promo-caption" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='third_home_component_heading' && site_detail.setting_value != ''">{{site_detail.setting_value}}</h6>
				<p class="light center" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='third_home_component_content' && site_detail.setting_value != ''">{{site_detail.setting_value}}.</p>
			</div>

			<div class="center promo">
				<!-- <i class="ion-flash primary-text"></i> -->
				<h6 class="promo-caption" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='fourth_home_component_heading' && site_detail.setting_value != ''">{{site_detail.setting_value}}</h6>
				<p class="light center" ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='fourth_home_component_content' && site_detail.setting_value != ''">{{site_detail.setting_value}}.</p>
			</div>

			<!-- <div class="center promo">
				<i class="ion-android-contacts primary-text"></i>
				<h6 class="promo-caption">User Experience Focused</h6>
				<p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
			</div>
			<div class="center promo">
				<i class="ion-android-settings primary-text"></i>
				<h6 class="promo-caption">Easy to work with</h6>
				<p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
			</div> -->
		</div>

	</div> <!-- End of Main Contents -->


	<!-- </div> --> <!-- End of Page Content -->

	<!-- End of Page Container -->
