<!-- Page Content -->
      <div id="content" class="grey-blue signup">

        <!-- Toolbar -->
        <div id="toolbar" class="tool-signup primary-color animated fadeindown">
          <a href="javascript:history.back()" class="open-left">
            <i class="ion-android-arrow-back"></i>
          </a>
        </div>
        
        <!-- Main Content -->
        <div class="signup-form animated fadeinup delay-2 z-depth-1">

          <h1>Sign Up</h1>
          <h2 ng-bind="success"></h2>
          
          <div class="input-field">
            <i class="ion-android-contact prefix"></i> 
            <input class="validate" type="text" ng-model="customer.firstname"> 
            <label for="login">First name</label>
          </div>

          <div class="input-field">
            <i class="ion-android-contact prefix"></i> 
            <input class="validate" type="text" ng-model="customer.lastname"> 
            <label for="login">Last name</label>
          </div>

          <div class="input-field" style="margin-bottom:20px;">
            <i class="ion-android-lock prefix"></i> 
            <input class="validate" id="login-psw" ng-model="customer.email" type="email"> 
            <label for="login-psw">Email</label>
          </div>

          <div class="input-field" style="margin-bottom:20px;">
            <i class="ion-android-lock prefix"></i> 
            <input class="validate" id="login-psw" ng-model="customer.password" type="password"> 
            <label for="login-psw">Password</label>
          </div>

          <div class="input-field" style="margin-bottom:20px;">
            <i class="ion-android-done prefix"></i> 
            <input class="validate" id="login-psw-2" ng-model="customer.confirm_password" type="password"> 
            <label for="login-psw-2">Confirm</label>
          </div>

          <a class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" href="#" ng-click="customer_sign_up()">Signup</a> 
          <span>Have an account? <a class="primary-text" href="#online_customer_login">Login</a></span>
        </div><!-- End of Main Contents -->
      
       
      </div> <!-- End of Page Content -->
