 <!-- Page Content -->
      <div id="content" class="page">
        <div class="parallax">
        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title">Checkout</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>
        </div>
        
        <!-- Main Content -->
        <div class="animated fadeinup" style="padding: 15px;">
          <!-- Order Recap -->
         <!--  <ul class="collapsible checkout-header animated fadeindown delay-2" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                Show order summary
                <i class="ion-android-arrow-dropdown"></i>
                <span class="checkout-price right">$240.00</span>
              </div>
              <div class="collapsible-body z-depth-1"> -->

                <!-- Products in cart -->
                <!-- <div class="checkout-details">
                  <img class="checkout-image" src="img/user2.jpg" alt="">
                  <div class="checkout-product-title">
                    <h6>Pair of Shoes <span class="right">$220.00</span></h6>
                    <span>43 - 44</span>
                  </div>
                </div> -->
                
                <!-- Discount -->
               <!--  <form class="discount">
                  <div class="input-field">
                    <input id="code" type="text" class="validate">
                    <label for="code">Discount code here</label>
                    <div class="btn primary-color">
                      <i class="ion-arrow-right-c"></i>
                    </div>
                  </div>
                </form> -->

                <!-- Subtotal -->
              <!--   <div class="subtotal">
                  <h6>Subtotal <span class="right">$220.00</span></h6>
                  <span>Shipping <span class="right">$20.00</span></span>
                </div> -->

                <!-- Total -->
            <!--     <div class="total">
                  <h4>Total <span class="right">$240.00</span></h4>
                </div>

              </div>
            </li>
          </ul> -->

          <!-- Form Inputs -->
          <!-- <div class="form-inputs">
            <h4>Customer Information</h4>
            <div class="input-field">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
              <span>Already have an account? <a class="primary-text" href="login.html">Login</a></span>
            </div> -->

        <!-- Billing address -->
        
             <h4>Billing address</h4>
            <div>
              <div class="input-field">
                <input id="firstname" type="text" class="validate" ng-model="customer.firstname">
                <label for="firstname">First Name</label>
              </div>
              <div class="input-field">
                <input id="lastname" type="text" class="validate" ng-model="customer.lastname">
                <label for="lastname">Last Name</label>
              </div>
            </div>
            
            <div class="input-field">
              <input id="address" type="text" class="validate" ng-model="customer.address">
              <label for="address">Address</label>
            </div>
            
            <div class="input-field">
              <input id="city" type="text" class="validate" ng-model="customer.city">
              <label for="city">City</label>
            </div>

            <div class="input-field">
              <input id="state" type="text" class="validate" ng-model="customer.state">
              <label for="state">State</label>
            </div>

            <div class="input-field">
              <input id="country" type="text" class="validate" ng-model="customer.country">
              <label for="country">Country</label>
            </div>

            <div class="input-field">
              <input id="zipcode" type="text" class="validate"  ng-model="customer.zipcode">
              <label for="zipcode">Zipcode</label>
            </div>

            <div class="input-field">
              <input id="phone" type="number" class="validate" ng-model="customer.phone">
              <label for="phone">Phone</label>
            </div>

          <p class="remember" style="padding-left: 15px">
              <input type="checkbox" id="test5" ng-model="shipping_address_checked" ng-click="shipping_address_same(shipping_address_checked)" />
              <label for="test5">Shipping Address same as billing Address</label>
          </p>  

        <!-- Shipping address -->
            <h4 class="shipping-address">Shipping address</h4>
            <br>
            <div>
              <div class="input-field">
                <input placeholder="Enter your firstname" id="firstname" type="text" class="validate"  ng-model="customer.shipping_firstname">
                <label for="firstname" class="active">First Name</label>
              </div>
              <div class="input-field">
                <input placeholder="Enter your lastname" id="lastname" type="text" class="validate"  ng-model="customer.shipping_lastname">
                <label for="lastname" class="active">Last Name</label>
              </div>
            </div>
            <div class="input-field">
              <input placeholder="Enter your address" id="address" type="text" class="validate"  ng-model="customer.shipping_address">
              <label for="address" class="active">Address</label>
            </div>
            
            <div class="input-field">
              <input placeholder="Enter your city" id="city" type="text" class="validate"  ng-model="customer.shipping_city">
              <label for="city" class="active">City</label>
            </div>

             <div class="input-field">
              <input placeholder="Enter your state" id="state" type="text" class="validate"  ng-model="customer.shipping_state">
              <label for="state" class="active">State</label>
            </div>

            <div class="input-field">
              <input placeholder="Enter your country" id="country" type="text" class="validate"  ng-model="customer.shipping_country">
              <label for="country" class="active">Country</label>
            </div>

            <div class="input-field">
              <input placeholder="Enter your zipcode" id="zipcode" type="text" class="validate"  ng-model="customer.shipping_zipcode">
              <label for="zipcode" class="active">Zipcode</label>
            </div>
       
            <div class="input-field">
              <input placeholder="Enter your phone" id="phone" type="number" class="validate"  ng-model="customer.shipping_phone">
              <label for="phone" class="active">Phone</label>
            </div>

            <button class="waves-effect waves-light btn-large primary-color width-100" ng-click="payment_gateway()">Purchase</button>
            <br>

          </div>

          <!-- Footer -->
        </div> <!-- End of Main Contents -->
      
       
      </div> <!-- End of Page Content -->