<!-- Page Content -->
<div id="content" class="grey-blue login">

  <!-- Toolbar -->
  <div id="toolbar" class="tool-login primary-color animated fadeindown">
    <a href="javascript:history.back()" class="open-left">
      <i class="ion-android-arrow-back"></i>
    </a>
  </div>

  <!-- Main Content -->
  <div class="login-form animated fadeinup delay-2 z-depth-1">

    <h1>Login</h1>
    <div class="input-field">
      <i class="ion-android-contact prefix"></i> 
      <input class="validate" id="login" type="email" ng-model="customer.email"> 
      <label for="login">Email</label>
    </div>

    <div class="input-field" style="margin-bottom:20px;">
      <i class="ion-android-lock prefix"></i> 
      <input class="validate" id="login-psw" type="password" ng-model="customer.password"> 
      <label for="login-psw">Password</label>
    </div>

    <a class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" href="#" ng-click="customer_login()">Login </a> 
    <span>Don't have an account? <a class="primary-text" href="#online_customer_register">Sign Up</a></span>
  </div><!-- End of Main Contents -->

</div> <!-- End of Page Content -->