<!-- Page Content -->
      <div id="content">

        <!-- Toolbar -->
       <!--  <div id="toolbar" class="halo-nav box-shad-none">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title none">Shop</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div> -->
        
        <!-- Hero Header -->
        <div class="h-banner animated fadeindown">
          <div class="parallax bg-shop"></div>
          <div class="banner-title">Shop</div>
          </div>
         </div>

        <!-- Profile Content -->
        <div class="animated fadeinup delay-1">
          <div ng-repeat="category in on_shop_categories">
          <div class="shop-banner width-100 animated fadeinup delay-3">
            <a href="#online_shopping/category/{{category.category_id}}">
              <img ng-src="img/{{category.category_image}}" alt="category image">
              <div class="border-overlay valign-wrapper">
                <div class="valign center width-100">
                  <h3 class="white-text">{{category.category_name}}</h3>
                  <p class="white-text">{{category.category_description}}</p>
                </div>
              </div>
            </a>
          </div>
          </div>
           
          <div class="clr"></div>

        </div> 
         
      </div> <!-- End of Page Content -->

      </div> <!-- End of Page Container -->
    