<div id="content" class="grey-blue">
	<div class="parallax">
		<!-- Toolbar -->
		<div id="toolbar" class="primary-color">
			<div class="open-left" id="open-left" data-activates="slide-out-left">
				<i class="ion-android-menu"></i>
			</div>
			<span class="title">Category</span>
			<div class="open-right" id="open-right" data-activates="slide-out">
				<i class="ion-android-person"></i>
			</div>
		</div>
	</div>
</div>

<!-- Main Content -->
<div class="animated fadeinup page">
		<!-- shop-category  -->
	<div ng-repeat="product in product_arrays">
		<div class="center-align animated fadeinup delay-1">
			<div class="category-image">
				<div class="category-header">
					<i class="ion-heart right"></i>
				</div>
				<img ng-src="img/{{product.product_image}}" alt="product image not display">
				<a href=""><div class="opacity-overlay"></div></a>
			</div>
			<div class="category-preview p-20">
				<h4 class="uppercase">{{product.product_name}}</h4>
				<h3 class="price">{{product.product_price}} $</h3>
				
				</div>
				<div class="row">
					<div class="col s3">
						<button class="btn-floating primary-color waves-effect waves-light" ng-disabled="(qty[value] > 0) ?  false : true" ng-click="qty[value] = qty[value] - 1">-</button>
					</div>

					<div class="input-field col s6">
						<input type="text" ng-model="qty[value]" class="validate"  ng-init="qty[value] = 1" >
						<label class="active" for="product.product_name">Quantity</label>
					</div>

					<div class="col s3">
						<button class="btn-floating primary-color waves-effect waves-light" ng-disabled="(qty[value] < 100) ?  false : true"  ng-click="qty[value] = qty[value] + 1">+</button>
					</div>

				<div class="row">
					<div class="col s6">
						<button class="waves-effect waves-light btn primary-color" ng-click="add_to_cart(product.product_id,qty[value])">Add Cart</button>
					</div>	
					<div class="col s6">
						<a href="#online_cart" class="waves-effect waves-light btn primary-color" >View cart</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div> <!-- End of Main Contents -->




