 <!-- Page Content -->
      <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title">Product</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>
        
        <!-- Hero Header -->
        <div class="hero-header animated fadein">
          <!-- Slider -->         
          <div class="swiper-container slider m-b-20">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/product.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product2.jpg" alt="">
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- End of Slider -->

          <!-- Floating Action Button -->
          <div class="floating-button scrollable-fab animated bouncein delay-3">
            <a href="checkout.html" class="btn-floating btn-large waves-effect waves-light accent-color btn z-depth-1">
              <i class="ion-android-cart"></i>
            </a>
          </div>
        </div>
        <!-- Article Content -->
        <div class="animated fadeinup delay-1">
          <div class="page-content">
            <h2 class="uppercase">Clean Watch</h2>
            <h3>699.00 $</h3>

            <div class="rating m-b-30">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
            </div>
            
            <h5>Choose a color:</h5>
            <form action="#" class="m-b-30">
              <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Red</label>
              </p>
              <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2">Yellow</label>
              </p>
              <p>
                <input name="group1" type="radio" id="test3"  />
                <label for="test3">Green</label>
              </p>
                <p>
                  <input name="group1" type="radio" id="test4" />
                  <label for="test4">Brown</label>
              </p>
            </form>

            <h5>Choose a size:</h5>
            <div class="sizes p-b-20">
              <span class="size">xs</span>
              <span class="size">s</span>
              <span class="size">m</span>
              <span class="size">l</span>
              <span class="size">xl</span>
            </div>

            <h5>Choose a shipping method:</h5>
            <select class="browser-default m-b-30">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Credit Card</option>
              <option value="2">Cash on Delivery</option>
              <option value="3">Online Payment</option>
            </select>   
            
            <h5>Description</h5>
            <p class="text-flow">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. 
            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>

            <!-- Share -->
            <div class="share center-align m-t-30">
              <h3 class="uppercase">Share it!</h3>
              <i class="ion-social-facebook p-20 blue-text text-darken-4"></i>
              <i class="ion-social-twitter p-20 blue-text"></i>
              <i class="ion-social-pinterest p-20 red-text"></i>
            </div>
          </div>

          <!-- Comments -->
          <div class="comments">
            <h3 class="uppercase">3 Comments</h3>
            <ul class="comments-list">
              <li>
                <img src="img/user4.jpg" alt="" class="avatar circle">
                <div class="comment-body">
                  <span class="author uppercase">Luke Noel</span>
                  <span class="date">March 6</span>
                  <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li>
                <img src="img/user.jpg" alt="" class="avatar circle">
                <div class="comment-body">
                  <span class="author uppercase">Joel Roksin</span>
                  <span class="date">March 8</span>
                  <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li>
                <img src="img/user3.jpg" alt="" class="avatar circle">
                <div class="comment-body">
                  <span class="author uppercase">Mike White</span>
                  <span class="date">March 9</span>
                  <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="your-comment">
                <img src="img/user2.jpg" alt="" class="avatar circle">
                <label for="textarea1">You</label>
                <textarea id="textarea1" class="materialize-textarea" placeholder="Write your comment..."></textarea>
              </li>
            </ul>
          </div>

          <!-- Footer -->
          <footer class="page-footer primary-color">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                <div class="center-align">
                  <i class="ion-social-facebook m-10 white-text"></i>
                  <i class="ion-social-twitter m-10 white-text"></i>
                  <i class="ion-social-pinterest m-10 white-text"></i>
                  <i class="ion-social-dribbble m-10 white-text"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue darken-1">
            <div class="container">
            2016 Codnauts
            <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
            </div>
          </div>
        </footer>
        </div> 
      
         
      </div> <!-- End of Page Content -->