<!-- Page Content -->
<div id="content" class="grey-blue">
	<div class="parallax">

		<!-- Toolbar -->
		<div id="toolbar" class="primary-color">
			<div class="open-left" id="open-left" data-activates="slide-out-left">
				<i class="ion-android-menu"></i>
			</div>
			<span class="title">Cart Items</span>
			<div class="open-right" id="open-right" data-activates="slide-out">
				<i class="ion-android-person"></i>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<div class="animated fadeinup">

		<div class="news-main animated fadein delay-1">
			<img alt="" src="img/2.jpg"> 
			<a href="#">
				<div class="opacity-overlay-black">
				</div>
			</a>

			<div class="top-news animated fadeinright delay-1">
				<h4 class="top-news-title">
					<a href="#">Welcome to see our cart</a>
				</h4>
				<span class="top-news-channel">Login - 10 min ago</span> <span class="top-news-category">CART ITEMS</span>
				<div class="clr">
				</div>
			</div>
		</div>

		<div>

			<div class="single-news animated fadeinright delay-2">

				<table class="striped bordered">
					<thead>
						<tr>
							<th data-field="no">S.No</th>
							<th data-field="name">Name</th>
							<th data-field="qty">Qty</th>
							<th data-field="price">Price</th>
							<th data-field="price"></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="cart_item in product_cart_item_arrays">
							<td>{{$index+1}}</td>
							<td>{{cart_item.product_name}}</td>
							<td>{{cart_item.product_qty}}</td>
							<td>{{cart_item.product_price * cart_item.product_qty}}</td>
							<td><button class="btn-floating primary-color waves-effect waves-light" ng-click="removeCartItem(cart_item.product_id)">X</button></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Total</td>
							<td>{{ getTotal() }}</td>
						</tr>
					</tbody>
				</table>
				<br>
				<!-- style="float:right" -->
				<div class="row">
					<div style="float:right" >
						<button class="waves-effect waves-light btn primary-color" ng-disabled="cart_item_value==0" ng-click="checkout_items()">Checkout</button>
					</div>
				</div>
			</div>

		</div>

	</div> <!-- End of Main Contents -->


</div> <!-- End of Page Content -->