<!-- <h1>{{page_title}}</h1> -->
<!-- <span ng-bind-html="static_pages.page_content"></span> -->
<!-- 
<center><h1>Event schedule</h1></center>
<h3>Opening ceremony</h3>

<p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

<center><h1>Speakers</h1></center>
<h3>Jessica Ronald</h3>

<p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p> -->

<!-- Page Content -->
<div id="content">
  <div class="parallax">

    <!-- Toolbar -->
    <div id="toolbar" class="halo-nav box-shad-none">
      <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
      </div>
      <span class="title none">{{static_pages.page_name}}</span>
      <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
      </div>
    </div>
  </div>

  <!-- Hero Header -->
  <div class="h-banner animated fadeindown">
    <div class="parallax bg-2">
      <div class="floating-button animated bouncein delay-3">
        <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
          <i class="ion-android-bookmark"></i>
        </span>
      </div>
      <div class="banner-title">{{static_pages.page_name}}</div>
    </div>
  </div>
  <br>
  <br>
<span ng-bind-html="static_pages.page_content"></span>
    <!-- Footer here -->
  </div> <!-- End of Page Content -->



