 <!-- Page Content -->
 <div id="content" class="page">
  <div class="parallax">

    <!-- Toolbar -->
    <div id="toolbar" class="primary-color">
      <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
      </div>
      <span class="title">Blog</span>
      <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
      </div>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="animated fadeinup">

    <div class="blog-fullwidth animated fadeinup delay-1">
      <div class="blog-header">
        <img class="avatar circle" src="img/user4.jpg" alt="">
        <div class="blog-author">
          <span>Jassie North</span>
          <span class="small">1hour ago - 62 Share</span>
        </div>
      </div>
      <div class="blog-image">
        <img src="img/8.jpg" alt="">
        <div class="opacity-overlay-top"></div>
      </div>
      <div class="blog-preview p-20">
        <h4 class="uppercase">It really makes no sense</h4>
        <p>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
        <a href="article.html" class="waves-effect waves-light btn primary-color">Read</a>
      </div>
    </div>

    <div class="blog-fullwidth animated fadeinup delay-3">
      <div class="blog-header">
        <img class="avatar circle" src="img/user2.jpg" alt="">
        <div class="blog-author">
          <span>Jassie North</span>
          <span class="small">1hour ago - 62 Share</span>
        </div>
      </div>
      <div class="blog-image">
        <img src="img/5.jpg" alt="">
        <div class="opacity-overlay-top"></div>
      </div>
      <div class="blog-preview p-20">
        <h4 class="uppercase">It really makes no sense</h4>
        <p>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
        <a href="article.html" class="waves-effect waves-light btn primary-color">Read</a>
      </div>
    </div>
    
    <div class="blog-fullwidth animated fadeinup delay-5">
      <div class="blog-header">
        <img class="avatar circle" src="img/user3.jpg" alt="">
        <div class="blog-author">
          <span>Jassie North</span>
          <span class="small">1hour ago - 62 Share</span>
        </div>
      </div>
      <div class="blog-image">
        <img src="img/9.jpg" alt="">
        <div class="opacity-overlay-top"></div>
      </div>
      <div class="blog-preview p-20">
        <h4 class="uppercase">It really makes no sense</h4>
        <p>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
        <a href="article.html" class="waves-effect waves-light btn primary-color">Read</a>
      </div>
    </div>

    <!-- Footer -->

  </div> <!-- End of Main Contents -->
  
  
      </div> <!-- End of Page Content -->