<!DOCTYPE html>
<html lang="en-US" ng-app="myApp">
<head ng-controller="commonCtrl">
  <title  ng-repeat="site_detail in site_details"  ng-if="site_detail.setting_variable=='site_title'">{{site_detail.setting_value}}</title>
  <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16"> 
  <meta content="IE=edge" http-equiv="x-ua-compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Fonts -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->
  <!-- Icons -->
  <link href="css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
  <!-- Styles -->
  <link href="css/keyframes.css" rel="stylesheet" type="text/css">
  <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
  <link href="css/swiper.css" rel="stylesheet" type="text/css">
  <link href="css/swipebox.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/my_style.css" rel="stylesheet" type="text/css">
</head>
<body >
  <div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Sidebars -->
    <!-- Right Sidebar -->
    <div ng-controller="commonCtrl">
      <ul id="slide-out" class="side-nav">
        <li class="sidenav-header">
          <!-- Srearch bar -->
          <nav class="transparent no-shadow">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="ion-android-search"></i></label>
                  <i class="ion-android-close"></i>
                </div>
              </form>
            </div>
          </nav>
        </li>
        <!-- Tabs -->
        <li>
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#sidebar1">Social</a></li>
            <li class="tab col s3"><a href="#sidebar2">Chat</a></li>
          </ul>
        </li>
        <li id="sidebar1" class="p-20">
          <!-- Twitter -->
          <div class="twitter">
            <h6 class="follow-us"><i class="ion-social-twitter"></i> Follow us on Twitter</h6>
            <div class="tweet">
              <h3>@Codnauts</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <a href="#">#tempor</a>.</p>
            </div>
            <div class="tweet">
              <h3>@Codnauts</h3>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in <a href="#">#voluptate</a> culpa qui officia deserunt mollit anim.</p>
            </div>
            <div class="tweet">
              <h3>@Codnauts</h3>
              <p>At vero eos et accusamus et iusto odio <a href="#">#dignissimos</a> <a href="#">#ducimus</a> qui blanditiis praesentium.</p>
            </div>
          </div>
          <!-- Facebook -->
          <div class="facebook">
            <h6 class="follow-us">Notifications</h6>
            <div class="face-notification">
              <img src="http://www.codnauts.com/themes/halo/img/user2.jpg" alt="" class="cricle">
              <div>
                <p>Mike Green</p>
                <span>Sent you a message</span>
                <span class="small">Today at 16:48</span>
              </div>
            </div>
            <div class="face-notification">
              <img src="http://www.codnauts.com/themes/halo/img/user.jpg" alt="" class="cricle">
              <div>
                <p>Lara Connors</p>
                <span>Post a photo with you</span>
                <span class="small">Today at 14:26</span>
              </div>
            </div>
            <div class="face-notification">
              <img src="http://www.codnauts.com/themes/halo/img/user3.jpg" alt="" class="cricle">
              <div>
                <p>Mike Green</p>
                <span>Post something...</span>
                <span class="small">Yesterday at 03:19</span>
              </div>
            </div>
          </div>

        </li>
        <li id="sidebar2" class="p-20">
          <!-- Chat -->
          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user.jpg" alt="" class="cricle">
              <span class="dot green"></span>
            </div>
            <div class="chat-message">
              <p>Mike Green</p>
              <span>Sent you a message</span>
              <span class="small">online</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user2.jpg" alt="" class="cricle">
              <span class="dot green"></span>
            </div>
            <div class="chat-message">
              <p>Lora Bell</p>
              <span>6 New messages</span>
              <span class="small">online</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user3.jpg" alt="" class="cricle">
              <span class="dot orange"></span>
            </div>
            <div class="chat-message">
              <p>Tony Lee</p>
              <span>Away from keyboard.</span>
              <span class="small">Away</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user4.jpg" alt="" class="cricle">
              <span class="dot grey"></span>
            </div>
            <div class="chat-message">
              <p>Jim Connor</p>
              <span>Is offline.</span>
              <span class="small">offline</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user5.jpg" alt="" class="cricle">
              <span class="dot green"></span>
            </div>
            <div class="chat-message">
              <p>Sara Lower</p>
              <span>Sent you a message</span>
              <span class="small">online</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user.jpg" alt="" class="cricle">
              <span class="dot grey"></span>
            </div>
            <div class="chat-message">
              <p>Mick Pole</p>
              <span>Is offline.</span>
              <span class="small">offline</span>
            </div>
          </div>

          <div class="chat-sidebar">
            <div class="chat-img">
              <img src="http://www.codnauts.com/themes/halo/img/user3.jpg" alt="" class="cricle">
              <span class="dot green"></span>
            </div>
            <div class="chat-message">
              <p>James Tree</p>
              <span>Awaiting your reply.</span>
              <span class="small">online</span>
            </div>
          </div>
        </li>
      </ul>
      <!-- Left Sidebar -->
      <ul id="slide-out-left" class="side-nav collapsible">
        <li>
          <div class="sidenav-header primary-color">
            <div class="nav-social">
              <i class="ion-social-facebook"></i>
              <i class="ion-social-twitter"></i>
              <i class="ion-social-tumblr"></i>
            </div>
            <div class="nav-avatar">
              <img class="circle avatar" ng-src="img/{{client.logo}}" alt="logo">
              <div class="avatar-body">
              <h3>{{client.name}}</h3>
                <p>All in one now</p>
              <!-- <h3 ng-style="{'color':'red'}">{{client.name}}</h3> -->
                <!-- <p ng-style="set_color">Our Best Team</p> -->
                <!-- <p ng-style="set_styles(client.name)">Brindha</p> -->
              </div>
            </div>
          </div>
        </li>

        <li ng-repeat="x in menus">
          <a href="#{{x.url}}" class="no-child"><i class="{{x.icon}}"></i> {{x.name}}</a>
        </li>
         <!--  <li>
          <a href="#gallery_category" class="no-child"><i class="ion-android-map"></i> Gallery category</a>
        </li> -->
        <li ng-repeat="static_page in static_pages">
          <a href="#page/{{static_page.page_url}}" class="no-child"><i class="{{static_page.page_icon}}"></i> {{static_page.page_name}}</a>
        </li>

        <li>
          <a href="#contact" class="no-child"><i class="ion-android-map"></i> Contact</a>
        </li>

        <!-- Login and Logout based on the condition -->
        <li  ng-if="!customer_id">
          <a ng-href="#online_customer_login" class="no-child"><i class="ion-android-contact"></i>Login</a>
        </li>
         <li ng-if="cart_menu!=0">
          <a ng-href="#online_cart" class="no-child"><i class="ion-android-contact"></i>My Cart</a>
        </li>
        <li ng-if="customer_id">
          <a class="no-child" ng-href="#home_page" ng-click="customer_logout()"><i class="ion-android-contact"></i>Logout</a>
        </li>

        <!-- 
         <li>
          <a href="#online_customer_register" class="no-child"><i class="ion-android-contact"></i>Register</a>
        </li> -->
           <!-- <li>
            <a href="#online_cart" class="no-child"><i class="ion-android-map"></i> My Cart</a>
          </li> -->
          
          <!-- Categories list -->
          <!-- <li ng-repeat="category in on_shop_categories">
          <a href="#online_shopping/category/{{category.category_id}}" class="no-child"><i class="ion-android-map"></i> {{category.category_name}}</a>
        </li> -->

      </ul>
    </div>
    <!-- Page Content -->
    <div id="content">

      <!-- Toolbar -->
      <div id="toolbar" class="halo-nav box-shad-none">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
          <i class="ion-android-menu"></i>
        </div>
        <span class="title none"></span>
        <div class="open-right" id="open-right" data-activates="slide-out">
          <i class="ion-android-person"></i>
        </div>
      </div>
      <!-- End of Sidebars -->



            <!-- Page content call here -->
            <div ng-view></div>
            <!-- Page content call here -->

      <div ng-controller="commonCtrl">
      <!-- Footer -->
      <footer class="page-footer primary-color">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <!-- <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
              <div class="center-align">
                <i class="ion-social-facebook m-10 white-text"></i>
                <i class="ion-social-twitter m-10 white-text"></i>
                <i class="ion-social-pinterest m-10 white-text"></i>
                <i class="ion-social-dribbble m-10 white-text"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue darken-1">
          <div class="container" ng-repeat="site_detail in site_details" ng-if="site_detail.setting_variable=='site_name' && site_detail.setting_value != ''">
            {{site_detail.setting_value}} | 2016
            <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
          </div>
        </div>
      </footer>
      </div>
    </div>
  </div>
  <!-- <script type="text/javascript" src="https://raw.githubusercontent.com/driftyco/ionic-platform-web-client/master/dist/ionic.io.bundle.min.js"></script> -->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>   
  <script src="js/jquery.smoothState.min.js"></script> 
  <script src="js/materialize.min.js"></script> 
  <script src="js/swiper.min.js"></script>  
  <script src="js/jquery.mixitup.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/chart.min.js"></script>
  <script src="js/functions.js"></script>
</body>
</html>
